{% extends 'physio.html.twig' %}
{% block body %}


    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div id="cadre_co">
        <div id="connexion">
            <h2 class="titre_entree">Connexion</h2>
            <form action="{{ path('login') }}" method="post">
                <div class="div_username">
                    <input type="text" id="username" name="_username" placeholder="Identifiant" value="{{ last_username }}" />
                </div>

                 <div class="div_mdp">
                    <input type="password" id="password" name="_password" placeholder="Mot de passe" />
                </div>

                <button class="btn_connex" type="submit">Connexion</button>
            </form>
        </div>
    </div>

{% endblock %}
