html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
	background-color: #B7B6B6;
	font-family: 'Open Sans Condensed', sans-serif;
}
/* PAGE ENTREES */
#phrase{
	text-align: center;
	margin-top: 10%;
	font-size: 70px;
	color: #5C4394;
}

#btn_admin, #btn_expert, #btn_inscrire{
	text-align: center;
	margin-bottom: 10px;
}

.btn_sup_admin, .btn_admin, .btn_expert, .btn_utilisateur, .btn_inscrire{
	width: 250px;
	height: 50px;
	font-size: 20px;
	border-radius: 0.5rem;
	border: 0 solid;
	background-color: #4F4F4F;
	color: white;
}

.btn_sup_admin, .btn_expert{
	margin-right: 10px;
}


@media screen and (max-width: 530px){
	.btn_sup_admin, .btn_expert{
		margin-right: 0px;
		margin-bottom: 10px;
	}
}
/* FIN PAGE ENTREES */

/* PAGE CONNEXION */
h1{
	font-size: 100px;
	text-align: center;
	margin-top: 7%;
	color: #5D4394;
	margin-bottom: 40px;
}

#cadre_co{
	margin-right: auto;
	margin-left: auto;
	width: 515px;
	height: 260px;
	background-color: #4F4F4F;
	border-radius: 0.5rem;
	border: 0 solid;
}

#inscription{
	text-align: center;
}

#cadre_inscri{
	margin-right: auto;
	margin-left: auto;
	width: 515px;
	height: 500px;
	background-color: #4F4F4F;
	border-radius: 0.5rem;
	border: 0 solid;
}
  
#connexion{
	text-align: center;
}

.titre_entree{
	font-size: 40px;
	color: white;	
	padding-top: 15px;
	padding-bottom: 20px;
}

.div_username{
	margin-bottom: 10px;
}

.btn_connex{
	width: 140px;
	height: 42px;
	font-size: 20px;
	color: white;
	margin-top: 23px;
	border-radius: 0.5rem;
	border: 0 solid;
	background-color: #333333;
}

#username, #password{
	width: 220px;
	height: 40px;
	font-size: 15px;
	border-radius: 0.5rem;
	border: 0 solid;
	padding-left: 5px;
	color: #5B4394;
}

#user_username, #user_email, #user_plainPassword_first, #user_plainPassword_second{
	width: 220px;
	height: 40px;
	font-size: 15px;
	border-radius: 0.5rem;
	border: 0 solid;	
	/*color: #5B4394;*/
	margin-bottom: 38px;
	padding-left: 0px;
}

.required{
	position: absolute;
	z-index: 1;
	margin-top: -25px;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
}

#form{
	margin-top: 25px;
}

.btn_inscri{
	width: 140px;
	height: 42px;
	font-size: 20px;
	color: white;	
	border-radius: 0.5rem;
	border: 0 solid;
	background-color: #333333;
}
/*FIN PAGE CONNEXION */

/* PAGE ACCUEIL*/

.container{
	width: 100%;
	height: 100%;
}

header{
	width: 100%;
	height: 90px;
	background-color: #5D4394;
}

#logo{
	font-size: 50px;
	padding-top: 16px;
	color: white;
	padding-left: 20px;
}

.btn_deco{
	width: 140px;
	height: 40px;
	font-size: 20px;
	color: white;
	float: right;
	margin-top: -26px;
	margin-right: 20px;
	border: #3D3A8E 0.1rem solid;
	border-radius: 0.5rem;
	background-color: #5D4394;
}

.champs_clin{
	margin-top: 60px;
	margin-left: 30px;
	width: 300px;
}

.champs{
	border: #5D4394 0.1rem solid;
	border-radius: 0.5rem;
	margin-bottom: 10px;
	width: 270px;
	height: 56px;
	font-size: 35px;
	font-family: 'Open Sans Condensed', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 3px;
	background-color: #B7B6B6;
}

#titre{
	font-size: 139px;
	color: #c6c6c6;
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-30%, -50%);
	/*position: fixed;*/
}

.categories{
	margin-top: 42px;
	position: absolute;
	margin-left: 550px;
}

.sous_categories{
	position: absolute;
	margin-left: 300px;
	min-width: 300px;
}

.liste{
	font-size: 30px;
	display: none;
	float: left;
}

.catego{
	margin-bottom: 13px;
	margin-top: -5px;
}

.fleche{
	padding-right: 10px;
}

.liste2{
	display: none;	
	font-size: 25px;
	margin-top: -26px;
}

.sous_catego{
	margin-bottom: 13px;
	margin-top: -5px;
	width: 320px;
}

.fleche2{
	padding-right: 10px;
}

.div_test{
	margin-top: 42px;
	position: absolute;
	margin-left: 300px;
}

.liste3{
	font-size: 25px;
	display: none;
	float: left;
	margin-left: 100%;
	width: 80px;
	margin-top: -65px;
}

.test{
	margin-bottom: 13px;
	margin-top: -5px;
	margin-left: -30px;
}
/* FIN PAGE ACCUEIL */

/* PAGE UPLOAD */

#upload{
	width: 100%;	
}

#cadre_upload{
	margin-right: auto;
	margin-left: auto;
	margin-top: 100px;
	width: 515px;
	height: 260px;
	background-color: #4F4F4F;
	border-radius: 0.5rem;
	border: 0 solid;
	text-align: center;
}

#titre_upload{
	font-size: 40px;
	color: white;
	padding-top: 20px;
	padding-bottom: 0px;
}

#cadre_upload form div .required{
	display: none;
}

#fichier_name{
	margin-top: 40px;
	width: 100%;	
	text-align: center;
	font-size: 25px;
	font-family: 'Open Sans Condensed', sans-serif;
}

.btn_upload{
	width: 160px;
	height: 40px;
	font-size: 30px;
	margin-top: 40px;
	font-family: 'Open Sans Condensed', sans-serif;
	border-radius: 0.2rem;
	border: 0 solid;
	background-color: #333333;
	color: white;
}

/* FIN PAGE UPLOAD */

/* YOANN */

.b {
    background-color: white;
    border-radius: 15px;
    height: 400px;
    width: 800px;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 5%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
#pres {
    z-index: 10000;
    position: absolute;
    font-size: 40px;
}
#truescreen {
    background-color: green;
    visibility: hidden;
    z-index: 10000;
    position: absolute;
    font-size: 35px;
}
#falsescreen {
    background-color: red;
    visibility: hidden;
    z-index: 10000;
    position: absolute;
    font-size: 35px;
}
.continue {
    background-color: #5D4394;
    height: 50px;
    width: 200px;
    font-size: 25px;
    color: white;
    border-radius: 20px;
    border: none;
}
#question {
    font-size: 35px;
}
#reponses {
    font-size: 25px;
}
.blocrep {
    height: 60px;
    width: 130%;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.num {
    border: 3px solid pink;
    font-size: 30px;
    height: 40px;
    width: 40px;
    border-radius: 200px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.blocrep p {
    text-align: left;
}
#buttonq {
    background-color: #5D4394;
    height: 50px;
    width: 200px;
    font-size: 25px;
    color: white;
    border-radius: 20px;
    border: none;
}
#numero {
    font-size: 20px;
}

#score {
    font-size: 20px;    
}
#bigend {
    visibility: hidden;
    z-index: 11000;
    position: absolute;
    font-size: 35px;
}
#retour {
    background-color: #5D4394;
    height: 50px;
    width: 200px;
    font-size: 25px;
    color: white;
    border-radius: 20px;
    border: none;
}