{% extends 'physio.html.twig' %}
{% block body %}
	<h1>Ceci est une phrase à but non lucratif.</h1>
	<div id="cadre_co">		
		<div id="connexion">
			<h2>Utilisateurs</h2>	
			<div class="div_identi">
				<input class="identi" type="text" name="" placeholder="Identifiant">
			</div>
			<div class="div_mdp">
				<input class="mdp" type="password" name="" placeholder="Mot de passe">
			</div>
			<button class="btn_connex" type="submit">Connexion</button>
		</div>
	</div>
{% endblock %}