<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>TEST</title>
        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('build/app.css') }}">        
        {% endblock %}
    </head>

    <body>
    	<h1>Ceci est une phrase à but non lucratif.</h1>
    <script src="{{ asset('build/app.js') }}"></script>
    </body>

</html>

