{% extends 'physio.html.twig' %}
{% block body %}


	<header>
		<div id="logo"><a href="{{path('accueil')}}">ERCPhysio</a></div>		
		<!--<button class="btn_deco" type="submit">Déconnexion</button>-->
	</header>

	<section id="upload">
		<div id="cadre_upload">
		<h2 id="titre_upload">Ajouter un nouveau fichier</h2>		
			{{ form_start(form) }}
		    {# ... #}
		
		    {{ form_row(form.name) }}		   
			<button type="submit" class="btn_upload">Importer</button>			
			{{ form_end(form) }}
		</div>		
	</section>

{% endblock %}


